.top{

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    justify-content: flex-end;
}

mat-toolbar{
padding: 15px;
}

img{
    height:50px;
    width:100px;
}
li{
    margin-left: 5px;
    margin-right: 5px;
}

.list{
    display: flex;
    justify-content: flex-end;
    list-style-type:none;
    align-items: center;
}
.list-item{
    margin-left: 5px;
    border-style:none none none solid;
    padding: 10px;
}
